/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:016e5ae6eca4ad67883a16edeaf062ab:3c4cb6ebb508c867feea513f6a8db643:8ef7a5523759848b8f2b1093d16b33ea$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(./texture.png);}

.anyleaves {width:60px; height:60px; background-position: -297px -273px}
.i_001 {width:36px; height:53px; background-position: -424px -162px}
.i_00100_cropped {width:53px; height:62px; background-position: -125px -335px}
.i_00101_cropped {width:53px; height:62px; background-position: -180px -335px}
.i_00105_cropped {width:53px; height:62px; background-position: -235px -335px}
.i_00109_cropped {width:53px; height:62px; background-position: -290px -335px}
.i_00113_cropped {width:39px; height:38px; background-position: -398px -32px}
.i_00116_cropped {width:26px; height:20px; background-position: -39px -1px}
.i_00117_cropped {width:17px; height:17px; background-position: -1px -1px}
.i_00119_cropped {width:53px; height:62px; background-position: -345px -335px}
.i_00120_cropped {width:53px; height:62px; background-position: -400px -335px}
.i_00133_cropped {width:48px; height:54px; background-position: -387px -217px}
.i_00138_cropped {width:53px; height:62px; background-position: -1px -399px}
.i_00141_cropped {width:26px; height:25px; background-position: -236px -1px}
.i_00142_cropped {width:29px; height:22px; background-position: -118px -1px}
.i_00143_cropped {width:28px; height:22px; background-position: -149px -1px}
.i_00144_cropped {width:24px; height:21px; background-position: -92px -1px}
.i_00145_cropped {width:53px; height:62px; background-position: -56px -399px}
.i_00146_cropped {width:53px; height:62px; background-position: -111px -399px}
.i_00147_cropped {width:53px; height:62px; background-position: -166px -399px}
.i_002 {width:20px; height:39px; background-position: -157px -72px}
.i_00217_cropped {width:26px; height:38px; background-position: -439px -32px}
.i_00218_cropped {width:90px; height:75px; background-position: -303px -595px}
.i_00219_cropped {width:53px; height:62px; background-position: -221px -399px}
.i_00220_cropped {width:48px; height:54px; background-position: -437px -217px}
.i_00221_cropped {width:21px; height:38px; background-position: -467px -32px}
.i_00222_cropped {width:65px; height:66px; background-position: -396px -527px}
.i_00223_cropped {width:53px; height:62px; background-position: -276px -399px}
.i_00224_cropped {width:21px; height:38px; background-position: -1px -72px}
.i_00225_cropped {width:48px; height:53px; background-position: -276px -217px}
.i_00226_cropped {width:27px; height:25px; background-position: -264px -1px}
.i_00227_cropped {width:21px; height:38px; background-position: -24px -72px}
.i_00228_cropped {width:23px; height:20px; background-position: -67px -1px}
.i_00229_cropped {width:21px; height:38px; background-position: -47px -72px}
.i_00230_cropped {width:53px; height:62px; background-position: -331px -399px}
.i_00231_cropped {width:53px; height:62px; background-position: -386px -399px}
.i_00234_cropped {width:65px; height:66px; background-position: -1px -595px}
.i_00235_cropped {width:48px; height:54px; background-position: -1px -273px}
.i_00236_cropped {width:27px; height:23px; background-position: -207px -1px}
.i_00237_cropped {width:27px; height:23px; background-position: -207px -1px}
.i_00238_cropped {width:39px; height:39px; background-position: -225px -72px}
.i_00240_cropped {width:53px; height:62px; background-position: -441px -399px}
.i_00241_cropped {width:39px; height:39px; background-position: -266px -72px}
.i_00243_cropped {width:39px; height:39px; background-position: -307px -72px}
.i_00245_cropped {width:39px; height:38px; background-position: -70px -72px}
.i_00247_cropped {width:39px; height:40px; background-position: -422px -72px}
.i_00249_cropped {width:21px; height:38px; background-position: -111px -72px}
.i_00250_cropped {width:63px; height:63px; background-position: -331px -527px}
.i_00302_cropped {width:53px; height:62px; background-position: -1px -463px}
.i_00303_cropped {width:53px; height:62px; background-position: -56px -463px}
.i_00372_cropped {width:36px; height:46px; background-position: -425px -114px}
.i_00373_cropped {width:63px; height:45px; background-position: -294px -114px}
.i_00453_cropped {width:53px; height:62px; background-position: -111px -463px}
.i_00454_cropped {width:53px; height:62px; background-position: -166px -463px}
.i_00458_cropped {width:34px; height:37px; background-position: -362px -32px}
.i_00459_cropped {width:28px; height:29px; background-position: -440px -1px}
.i_00463_cropped {width:28px; height:31px; background-position: -66px -32px}
.i_00465_cropped {width:17px; height:17px; background-position: -20px -1px}
.i_00466_cropped {width:53px; height:62px; background-position: -221px -463px}
.i_00467_cropped {width:49px; height:42px; background-position: -1px -114px}
.i_00476_cropped {width:53px; height:62px; background-position: -276px -463px}
.i_00477_cropped {width:53px; height:62px; background-position: -331px -463px}
.i_00478_cropped {width:33px; height:57px; background-position: -198px -273px}
.i_00534_cropped {width:26px; height:22px; background-position: -179px -1px}
.i_00579_cropped {width:53px; height:62px; background-position: -386px -463px}
.i_00585_cropped {width:53px; height:62px; background-position: -441px -463px}
.i_00586_cropped {width:53px; height:62px; background-position: -1px -527px}
.i_00630_cropped {width:53px; height:62px; background-position: -56px -527px}
.i_00651_cropped {width:53px; height:62px; background-position: -111px -527px}
.i_00652_cropped {width:53px; height:62px; background-position: -166px -527px}
.i_00653_cropped {width:53px; height:62px; background-position: -221px -527px}
.i_00685_cropped {width:31px; height:45px; background-position: -359px -114px}
.i_00686_cropped {width:38px; height:49px; background-position: -284px -162px}
.i_00687_cropped {width:31px; height:45px; background-position: -392px -114px}
.i_00688_cropped {width:39px; height:46px; background-position: -1px -162px}
.i_00689_cropped {width:79px; height:70px; background-position: -68px -595px}
.i_00691_cropped {width:21px; height:38px; background-position: -134px -72px}
.i_00692_cropped {width:26px; height:29px; background-position: -1px -32px}
.i_008 {width:46px; height:45px; background-position: -105px -114px}
.i_00856_cropped {width:71px; height:83px; background-position: -395px -595px}
.i_009 {width:46px; height:45px; background-position: -153px -114px}
.i_010 {width:46px; height:45px; background-position: -201px -114px}
.i_01026_cropped {width:62px; height:59px; background-position: -233px -273px}
.i_01028_cropped {width:75px; height:54px; background-position: -51px -273px}
.i_01029_cropped {width:26px; height:26px; background-position: -293px -1px}
.i_01030_cropped {width:50px; height:28px; background-position: -388px -1px}
.i_01032_cropped {width:72px; height:39px; background-position: -348px -72px}
.i_01037_cropped {width:68px; height:56px; background-position: -128px -273px}
.i_01038_cropped {width:53px; height:62px; background-position: -276px -527px}
.i_01039_cropped {width:49px; height:49px; background-position: -324px -162px}
.i_01040_cropped {width:47px; height:50px; background-position: -375px -162px}
.i_01041_cropped {width:31px; height:27px; background-position: -355px -1px}
.i_01042_cropped {width:35px; height:29px; background-position: -29px -32px}
.i_01043_cropped {width:32px; height:26px; background-position: -321px -1px}
.i_017 {width:38px; height:49px; background-position: -95px -162px}
.i_031 {width:49px; height:49px; background-position: -135px -162px}
.i_032 {width:51px; height:44px; background-position: -52px -114px}
.i_033 {width:45px; height:49px; background-position: -186px -162px}
.i_034 {width:51px; height:48px; background-position: -42px -162px}
.i_035 {width:43px; height:45px; background-position: -249px -114px}
.i_036 {width:59px; height:54px; background-position: -326px -217px}
.i_037 {width:44px; height:39px; background-position: -179px -72px}
.i_040 {width:49px; height:49px; background-position: -233px -162px}
.i_061 {width:44px; height:35px; background-position: -96px -32px}
.i_062 {width:53px; height:36px; background-position: -142px -32px}
.i_063 {width:53px; height:36px; background-position: -197px -32px}
.i_064 {width:53px; height:36px; background-position: -252px -32px}
.i_065 {width:53px; height:36px; background-position: -307px -32px}
.i_130 {width:53px; height:53px; background-position: -1px -217px}
.i_131 {width:53px; height:53px; background-position: -56px -217px}
.i_132 {width:53px; height:53px; background-position: -111px -217px}
.i_133 {width:53px; height:53px; background-position: -166px -217px}
.i_134 {width:53px; height:53px; background-position: -221px -217px}
.i_147 {width:75px; height:75px; background-position: -149px -595px}
.i_149 {width:75px; height:75px; background-position: -226px -595px}
.i_159 {width:60px; height:60px; background-position: -359px -273px}
.i_160 {width:60px; height:60px; background-position: -421px -273px}
.i_161 {width:60px; height:60px; background-position: -1px -335px}
.i_170 {width:60px; height:60px; background-position: -63px -335px}
